/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    background: #fff;
    padding: 3%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  label {
    /* border: 1px solid red; */
    margin-top: 10px;
    display: block;
    color: #555;
  }
  
  select, button {
    border: 1px solid red;
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    /* margin-bottom: 15px; */
  }

  textarea, input {
    border: 1px solid red;
    width: 92%;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #responseMessage {
    text-align: center;
    color: green;
    font-weight: bold;
  }
  